# Exclude build artifacts from container context
# Prevents stale native .o files from contaminating cross-compilation
/target/*
!/target/*.tar.gz
/dist
/vendor
/.clj-kondo/.cache
/.cpcache
/.shadow-cljs
/.lsp/.cache
/.direnv
/.vscode
/.git
**/node_modules
