*.bak
*.class
*.jar
*.log
*.wasm
*~
**/.emscriptencache
**/node_modules
.calva/output-window/
.classpath
.clj-kondo/.cache
.clj-kondo/babashka
.clj-kondo/cnuernber
.clj-kondo/config.edn
.clj-kondo/hooks
.clj-kondo/http-kit
.clj-kondo/rewrite-clj
.clj-kondo/taoensso
.cljs_node_repl
.cpcache
.dir-locals.el
.direnv
.DS_Store
.eastwood
.factorypath
.github
.hg/
.hgignore
.java-version
.keep
.lein-*
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.portal
.project
.rebel_readline_history
.settings
.shadow-cljs
.socket-repl-port
.sw*
.vscode
/checkouts
/classes
/target
CLAUDE.md
cljs-test-runner-out
dist
install
LLM_CODE_STYLE.md
output.txt
package-lock.json
pgi.js
pi.js
pom.xml
proj-emscripten.js
proj.db
proj.mjs
PROJECT_SUMMARY.md
pw.js
resources/*kondo*
resources/darwin*
resources/grids
resources/linux*
resources/proj.ini
resources/wasm
resources/windows*
scripts/*-build-wasm
scripts/run_tests.sh
src/cljc/net/willcohen/proj/fndefs.mjs
src/cljc/net/willcohen/proj/macros.mjs
src/cljc/net/willcohen/proj/wasm.mjs
test/browser/playwright-report
test/browser/proj.db
test/browser/proj.ini
test/browser/proj-emscripten.wasm
test/browser/test-results
vendor
WORKPLAN.md