{:paths ["src" "src/clj" "src/cljc" "resources" "target"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        cnuernber/dtype-next {:mvn/version "10.111"}
        techascent/tech.resource {:mvn/version "5.08"}
        org.graalvm.js/js-language {:mvn/version "23.1.2"}
        org.graalvm.polyglot/polyglot {:mvn/version "23.1.2"}
        org.graalvm.wasm/wasm-language {:mvn/version "23.1.2"}
        net.java.dev.jna/jna {:mvn/version "5.14.0"}}

 :jvm-opts ["--add-modules" "jdk.incubator.foreign,jdk.incubator.vector"
            "--enable-native-access=ALL-UNNAMED"]
 :aliases {
           :cider-cljs {:extra-deps {cider/piggieback {:mvn/version "0.5.3"}
                                     nrepl/nrepl {:mvn/version "0.8.3"}}
                        :main-opts
                        ["-m" "nrepl.cmdline" "--middleware"
                         "[cider.piggieback/wrap-cljs-repl]"]}
           :build {:deps {io.github.clojure/tools.build
                          {:git/tag "v0.10.6" :git/sha "52cf7d6"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :sign-releases? false
                                :artifact "target/proj-0.1.0-alpha1.jar"}}}}
